h1 {
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#proj{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#sobre{

    color: #39914a;
    text-align: left;
    padding: 2px;
}

#log{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#calc{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#calcular{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#pedi{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#pedidos{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#about{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}

#inicio{
    border: 2px #eee solid;
    color: #752671;
    text-align: center;
    padding: 10px;
}
