<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Projeto Final</title>

    <div id="sobre">

        <a href="about"><button id="about" >Sobre nós</button></a>

    </div>



</head>

<body>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <h1>Projeto Integrador</h1>

    <div id="calc">

        <a href="login"><button id="calcular" >Calcular frete</button></a>

    </div>

    <div id="pedi">

          <a href="login"><button id="pedidos" >Pedidos</button></a>

    </div>

</body>
</html>